body{

	background-color:orange;
	color:navy;
	font-family:Sans-serif,Verdana;
	margin:150px;
	text-align: center;

}
main{
	background-image:'orange.jpg';
}

h1{

	text-transform:uppercase;
	color:cornflowerblue;
    text-align:center;

   }


p{

text-indent:2em;
text-align:center;
color:;
}

h2{
text-align:center;
}


ol{
    
	text-align: left;
}

ul{
    text-align: left;
}
a{
	text-align: center;
	color:white;
}

img{
	float: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: orange;
}
th[colspan="2"] {
    text-align: center;
}
tr:nth-child(even) {
    background-color: skyblue;
}